/** CSS for touristSpotTW **/

@font-face {
    font-family: 'PingFangTC';
    src: url('fonts/PingFangTC.woff');
}

body {
    font-family: 'PingFangTC', sans-serif;
}

.box {
    margin-left: 120px;
    margin-right: 100px;
}

.header {
    border-bottom: solid 2px #808080;

    font-size: 24px;
    line-height: 36px;
}

.titleZhTW {
    font-family: 'PingFangTC', sans-serif;
    font-weight: 400;
    display: inline-block;
    width: 49%;
    height: 208px;

    padding-top:80px;

}
.titleEn {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display: inline-block;
    width: 50%;
    height: 208px;
    color: #D9D9D9;

    padding-top:80px;
    text-align: right;
}

.content {
    margin-top: 40px;
}

.areaSelect {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    height: 50px;
    width: 158px;
    font-size: 15px;
    font-weight: 400;

    padding: 12px;

    background-position: right 1.2em top 50%;
    background-image: url(icons/arrow.png);
    background-repeat: no-repeat;

    border: solid 1px #D9D9D9;
}

.areaSelect option {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

}

.areaInput {
    height: 50px;
    width: 760px;
    font-size: 15px;
    font-weight: 400;

    background-position: left 1.2em top 50%;
    background-image: url(icons/search.png);
    background-repeat: no-repeat;

    padding-left: 45px;

    border: solid 1px #D9D9D9;
}

.areaSearchBtn {
    height: 50px;
    width: 94px;
    font-size: 15px;
    font-weight: 400;

    background-color: #1A1A1A;
    color: white;
}

.areaType {
    margin-top: 40px;
}

.areaType .option {
    display: inline-block;
    color: #D9D9D9;

    padding-bottom: 4px;
    margin-right: 32px;
}

.areaType .option:hover {
    color: #A6A6A6;
    cursor: context-menu;
}

.areaType .option.selected {
    color: #1A1A1A;
    border-bottom: solid 1px black;
}

.areaList {
    margin-top: 40px;
}

.areaList li {
    height: 138px;
    border-bottom: solid 1px #808080;
}

.areaList li::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.areaList div {
    font-family: 'PingFangTC', sans-serif;  
    display: inline-block;
    margin-left: 16px;
    vertical-align: middle;
}

.areaList .no {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    color: #D9D9D9;
}

.areaList .areaName {
    font-size: 40px;
}

.areaList .areaTypeTag span {
    font-size: 15px;
    padding: 5px;
    border: solid 1px;
}

.pagination {
    margin-top: 40px;
    text-align: right;
}

.footer {
    height: 240px;
}